* {
    background-color: #212529;
    padding: 0%;
    margin: 0%;
    text-align: center;
    font-family: sans-serif;
    box-sizing: border-box;
    
}

.container {
    display: flex;
    flex-direction: column;
}

.navbar {
    color: #f8f9fa;
    padding: 20px 0px 20px 100px;
    align-items: center;
}

.header-logo img {
    margin-right: auto;
}

.header-link {
    display: flex;
    margin-left: auto;
    padding: 0px 100px 0px 0px;  
}

header-link div {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    padding: 10px;
    font-family: 'Roboto', arial;
